/* .digit-box {
    border: 2px solid rgb(4, 80, 4);
    padding: 0px;
    margin: 1px;
    width: 25px;
}
.label {
    margin-top: 2px;
    font-size: 14px;
}
.countdown-clock{
    width:10px;
} */
/* Countdown.css */


/* Countdown.css */
.digit-box {
    border: 2px solid rgb(4, 80, 4);
    padding: 0px;
    margin: 1px;
    width: 25px;
    height: 25px; /* Set the height to match the width for a square shape */
    text-align: center;
  }
  
  .label {
    margin-top: 2px;
    font-size: 14px;
  }
  
  .countdown-clock {
    width: 50%; /* Set the width to 50% for responsiveness */
  }
  
  /* Media query for 600px devices */
  
  